<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.4/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheResultFile=".phpunit.cache/test-results"
         executionOrder="depends,defects"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true"
		 colors="true">
    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">app</directory>
        </include>
    </coverage>
    <php>
        <env name="ENV" value="test"/>
		<env name="DEBUG" value="false"/>
		<env name="REPORTING" value="false"/>
		<env name="LOGGING" value="false"/>
        <env name="DB_DRIVER" value="sqlite"/>
        <env name="DB_HOST" value=""/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="DB_USER" value=""/>
        <env name="DB_PASSWORD" value=""/>
    </php>
</phpunit>
